.app.dark {
  --bg-color: #020281;
  --inverted-bg-color: #cdcddc;

  --primary-color: #3ac73a;
  --secondary-color: #006900;

  --inverted-primary-color: #461f92;
  --inverted-secondary-color: #916bcb;
}
