.app.light {
  --bg-color: #cdcddc;
  --inverted-bg-color: #020281;

  --primary-color: #461f92;
  --secondary-color: #916bcb;

  --inverted-primary-color: #3ac73a;
  --inverted-secondary-color: #006900;
}
